body {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(110, 110, 110, 0.8)) fixed;
}
label {
  margin-bottom: 1em;
}
input {
  margin-bottom: 1em;
}
select {
  text-align: center;
  margin-bottom: 1em;
}
button {
  margin-top: 1em;
}
.box {
  float: left;
  border: 1px solid black;
  text-align: center;
  width: 35%;
  padding: 2em;
  margin-left: 15%;
  margin-top: 5em;
  background: linear-gradient(rgba(110, 110, 110, 0.8), rgba(255, 255, 255, 0.8))
}
.box1 {
  display: none;
  float: left;
  border: 1px solid black;
  text-align: center;
  width: 35%;
  padding: 2em;
  margin-left: 3%;
  margin-top: 5em;
  background: linear-gradient(rgba(110, 110, 110, 0.8), rgba(255, 255, 255, 0.8))
}
.header {
  border: 1px solid black;
  height: 15em;
  margin: 5em;
  background: linear-gradient(rgba(110, 110, 110, 0.8), rgba(255, 255, 255, 0.8));
  text-align: center;
  position: relative;
}
.header h1{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 1em;
  padding: .5em;
}
.header p{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 1em;
  padding: 1em;
}